
@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container d-flex justify-content-center mt-3">
    <div class="border border-2 border-dark py-4 d-flex flex-column align-items-center" style="width: 700px;">
        <h4>THÔNG TIN THÀNH VIÊN ĐÃ ĐĂNG KÝ</h4>
        <div class="row d-flex align-items-center">
            <!-- Avatar bên trái -->
            <div class="col-sm-2 text-center me-3 d-flex justify-content-center">
                <img src="@ViewBag.Avatar" alt="Avatar" class="img-responsive" style="padding: 20px; width: 150px; height: 150px; border-radius: 50%; margin-bottom: 20px;">
            </div>

            <!-- Thông tin bên phải -->
            <div class="col-sm-9" style="padding: 20px;">
                <!-- Thông tin với nhãn và nội dung căn thẳng -->
                <div class="row">
                    <div class="col-sm-6"><strong>Mã nhân viên:</strong></div>
                    <div class="col-sm-6">@ViewBag.EmpID</div>
                </div>
                <div class="row">
                    <div class="col-sm-6"><strong>Họ tên:</strong></div>
                    <div class="col-sm-6">@ViewBag.Name</div>
                </div>
                <div class="row">
                    <div class="col-sm-6"><strong>Ngày sinh:</strong></div>
                    <div class="col-sm-6">@ViewBag.BirthOfDate</div>
                </div>
                <div class="row">
                    <div class="col-sm-6"><strong>Email:</strong></div>
                    <div class="col-sm-6">@ViewBag.Email</div>
                </div>
                <div class="row">
                    <div class="col-sm-6"><strong>Mật khẩu:</strong></div>
                    <div class="col-sm-6">@ViewBag.Password</div>
                </div>
                <div class="row">
                    <div class="col-sm-6"><strong>Phòng ban:</strong></div>
                    <div class="col-sm-6">@ViewBag.Department</div>
                </div>
            </div>
        </div>
        <a href="~/BT5_64132077/Index" class="btn btn-outline-secondary" style="margin-top: 20px;">Quay lại</a>
    </div>
</div>

