@{
    var path = Server.MapPath("/banner.txt");
    var fileImage = System.IO.File.ReadAllText(path);
    ViewBag.image = "/Images/" + fileImage;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/styleAdmin.css" rel="stylesheet" />
    @RenderSection("Scripts", required: false) @*cho bai 3*@
</head>
<body style="margin-top:0px;">
    <div id="banner"><img src=@ViewBag.image /></div>
    <div id="menu">
        <div>
            @Html.ActionLink("TRANG CHỦ", "Index", "Changbanner_64131055", null, htmlAttributes: new { @class = "a" }) &nbsp;|&nbsp;
            @Html.ActionLink("ĐĂNG KÝ", "RegisterEmp", "Nhanvien_64131055", null, new { @class = "a" })|&nbsp;
            @Html.ActionLink("GỬI EMAIL", "SendMail", "MailInfor_64131055", null, new { @class = "a" })|&nbsp;
            @Html.ActionLink("THAY ĐỔI BANNER", "ChangeBanner", "Changbanner_64131055", null,  new { @class = "a" })|&nbsp;
            <hr style="margin-top:0px;" />
        </div>
    </div>
    <div id="content">
        @RenderBody()
    </div>
    <div id="footer">
        Copyright &copy; @DateTime.Now.Year
    </div>
    @section Scripts {
        <script src="~/Scripts/jquery-3.4.1.min.js"></script> @*cho bai 3*@
        <script src="~/Scripts/bootstrap.min.js"></script>
    }
</body>
</html>
